div {
	width: 1500px;
	height: 500px;
	background-color:lightblue ;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
img {
	width: 400px;
}
main {
	width: 1500px;
	height: 500px;
	background-color: green;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h2 {
	width: 1500px;
	height: 500px;
	background-color: lightgreen;
	display: flex;
	justify-content: center;
	align-items: center;
}