.left{
	float: left;
	border: 30px dashed green;
	margin: 7px;
	padding: 30px;
	width: 300px;
	height: 100px;
}
.right{
	float: right;
	border: 30px dashed yellow;
	margin: 7px;
	padding: 30px;
	width: 300px;
	height: 100px;
}